<h1 class="text-center mb-3"><i>Todos</i></h1>

{{#each todos}}

<div class="card card-body text-center mb-3" style="background:#C4302B; color:black">
    <h4>{{title}}</h4>
   
    <form action="/todos/editStatus/{{id}}?_method=PUT" method="post" >
         <input type="hidden" name="_method" value="PUT">
         {{#ifEquals status "Not Done"}}
         <input type="submit" class="btn btn-block mb-2" style="background:grey" name="not-done" value="Not Done">
         {{/ifEquals}}

         {{#ifEquals status "Done"}}
         <input type="submit" class="btn btn-success btn-block mb-2" name="done" value="Done">
         {{/ifEquals}}

    </form>

    <a href="/todos/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>

     <form action="/todos/{{id}}?_method=DELETE" method="post" >
         <input type="hidden" name="_method" value="DELETE">
         <input type="submit" class="btn btn-dark btn-block mb-2" name="title" value="Delete">
    </form>
    
  
</div>
{{else}}
<div class="card card-body text-center mb-3" style="background:#C4302B; color:black">
    <p class="lead">No Todos Found</p>
     <a href="/ideas/add" class="btn btn-dark btn-lg">Add Todo</a>
</div>

{{/each}}